[color]
  ui = auto

[alias]
  st = status
  cm = commit
  cma = commit -a
  df = diff
  ls = ls-files
  ll = ls-files -v
  # https://yulii.github.io/git-wip-alias-20160206.html
  wip = "commit --allow-empty -m '[ci skip] wip commit'"


[include]
	path = ~/.gitconfig_user

[core]
	excludesfile = ~/.gitignore_global

[alias]
  st = status
  br = branch
  cm = commit
  cma = commit -a
