[color]
  ui = auto

[alias]
  st = status
  sta = status
  stat = status
  cm = commit
  cma = commit -a
  df = diff
  ls = ls-files
  ll = ls-files -v
  l = log
  ln = log --name-status
  logn = log --name-status
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  mas = checkout master
  master = checkout master
  dev = checkout develop
  develop = checkout develop
  amend = commit --amend
  unadd = reset HEAD
  unstage = reset HEAD
  # https://yulii.github.io/git-wip-alias-20160206.html
  wip = "commit --allow-empty -m '[ci skip] wip commit'"
  br = branch
  name = config --get user.name
  mail = config --get user.email
  getname = name
  getmail = mail
  setname = config --local --add user.name
  setmail = config --local --add user.email

[include]
  path = ~/.gitconfig_user

[core]
  excludesfile = ~/.gitignore_global
#  editor = emacsclient -t -a=\\\"\\\"
  editor = emacs -q

[pager]
  # EUC-JP などの文字化け回避
  diff = nkf -w | less
  log = nkf -w | less
  show = nkf -w | less